{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Main page | Categories</h1>
        {% if error|length %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div>
            {% if user.is_superuser %}
                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    {{ form.errors }}
                    {% for field in form %}
                        <div class="mb-3 row">
                            {#                        {{ field.label_tag }} {{ field }}#}
                            <label class="col-sm-2 col-form-label-lg"
                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {% if field.widget_type == "select" %}
                                    <select class="form-select form-select-lg" name="{{ field.name }}"
                                            id="{{ field.id_for_label }}">
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input class="form-control form-control-lg" type="{{ field.widget_type }}"
                                           name="{{ field.name }}" id="{{ field.id_for_label }}">
                                {% endif %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary" type="submit">Create category</button>
                </form>
            {% endif %}
        </div>
        <table class="table fs-4">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% comment %}
                <tr>
                    <th>{{ category.name }}</th>
                    <td>
                        <a class="btn btn-lg btn-primary"
                           href="{% url 'category_details' category_id=category.id %}">Details</a>
                        {% if user.is_superuser %}
                            <a class="btn btn-lg btn-dark"
                               href="{% url 'update_category' category_id=category.id %}">Update</a>
                            <a class="btn btn-lg btn-danger"
                               href="{% url 'delete_category' category_id=category.id %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endcomment %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        let form = document.getElementById("form");

        form.onsubmit = async (event) => {
            event.preventDefault();
            let url = '{% url 'category_list_api' %}';
            try {
                let body = {};
                {% for field in form %}
                    body["{{ field.name }}"] = document.getElementById("{{ field.id_for_label }}").value
                {% endfor %}
                const response = await fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(body),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                });
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                console.log(json);
                await getCategories();
            } catch (error) {
                console.error(error.message);
            }
        }

        window.onload = getCategories();

        async function getCategories() {
            let url = '{% url 'category_list_api' %}';
            let table_body = document.getElementById("table_body");
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                table_body.innerHTML = "";
                for (let el in json) {
                    table_body.innerHTML += `
                    <tr>
                        <th>${json[el].name}</th>
                        <td>
                            <a class="btn btn-lg btn-primary"
                               href="/categories/${json[el].id}">Details</a>
                            {% if user.is_superuser %}
                                <a class="btn btn-lg btn-dark"
                                   href="/categories/${json[el].id}/update">Update</a>
                                <a class="btn btn-lg btn-danger" onclick=deleteCategory(${json[el].id})
                                   href="#">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    `;
                }
                console.log(json);
            } catch (error) {
                console.error(error.message);
            }
        }

        async function deleteCategory(id) {
            let url = `/api/categories/${id}`;
            try {
                const response = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                });
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }
                await getCategories();
            } catch (error) {
                console.error(error.message);
            }
        }
    </script>
{% endblock %}
